* {
  margin: 0;
  padding: 0;
  caret-color: rgb(51, 255, 0);
}

::selection {
  background: rgba(225, 255, 0, 0.5);
  color: rgb(0, 0, 0);
}

::-moz-selection {
  background: rgba(225, 255, 0, 0.5);
  color: rgb(0, 0, 0);
}
